body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background: #eee;
    color: #666;
}

.login-container {
    height: 100vh;
    width: 100%;
}

.login-form {
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}

.form-control {
    font-size: 10px;
    min-height: 48px;
    font-weight: 500;
}

.form-control:focus {
    border-color: #045015;
    box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}
