body {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-weight: bold;
}

a button {
    float: right;
}

/* Form */
.image-container {
    background: url('../img/background.jpg') center no-repeat;
    background-size: cover;
    height : 100vh;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.form-box h4 {
    font-weight: bold;
    color: #000;
}

.form-box .form-input {
    position: relative;
}

.form-box .form-input input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: solid black;
    border-radius: 5px;
    outline: none;
}

.form-box button[type="submit"] {
    border: solid black;
    border-radius: 5px;
    cursor: pointer;;
    border-right: 5px;
    background-color: #000;
    color: #ffffff;
    transition: 0.5s;
}

.form-box .form-input label {
    font-weight: bold;
}

/* Table */
table {
    border-collapse: collapse;
    margin-right: 100px;
}

table, th, td {
    border: .5px solid black;
    margin-left: auto;
    margin-right: auto;
}

/* Pagination */
.pagination {
    display: inline-block;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}