/* Calendar */
.container {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Table */
table {
    margin-top: 20px;
    border: 1px solid black;
}

th {
    height: 30px;
    text-align: center;
    font-weight: 700;
}

td {
    height: 100px;
}

/* Today */
.today {
    background-color:#aec6cf;
}

/* Saturday */
th:nth-of-type(7),td:nth-of-type(7) {
    color: #2063af;
    font-weight: bold;
}

/* Sunday */
th:nth-of-type(1),td:nth-of-type(1) {
    color: #8b3f23;
    font-weight: bold;
}